<launch>

  <arg name="bagpath" default="/media/psf/Home/Google Drive/GAVLAB/data/ion_gnss_2017/trimmed"/>

<arg name="bagfile" default="$(arg bagpath)/ion_gnss_parking_deck_take4_trimmed"/>

  <arg name="start_time" default="48"/>

  <!-- bagfile playback -->
    <param name="use_sim_time" value="true"/>
  <node name="player" pkg="rosbag" type="play" args="-s $(arg start_time) -l --clock -r 1.0 '$(arg bagfile).bag'" />


  <node pkg="feature_extraction" type="feature_extraction_node" name="feature_extraction_node" output="screen" >


    <param name="cloud_leveling" value="true"/>

  	<param name="cluster_tolerance" value="1.0"/>
    <param name="cluster_min_count" value="1"/>
    <param name="cluster_max_count" value="1000"/>
    <param name="cluster_radius_threshold" value="0.2"/>
    <param name="number_detection_channels" value="2"/>

    <param name="x_max" value="100.0"/>
    <param name="x_min" value="0.0"/>
    <param name="y_max" value="50.0"/>
    <param name="y_min" value="-50.0"/>
    
    <param name="z_max" value="4.0"/>
    <param name="z_min" value="-1.5"/>

    <param name="descriptor_radius" value="2.5"/>

  </node>

  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find feature_extraction)/rviz/vel_and_kp_viz.rviz"/> -->

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find feature_extraction)/rviz/main_viz.rviz"/>

</launch>



<!-- rosbag record -b 0 -a -x "/usb_cam_node/(.*)|/velodyne(.*)" -O 'ion_gnss_with_normals2d' -->


