<launch>

  <node pkg="feature_extraction" type="pcl_tune" name="pcl_tune" output="screen" args="/home/danpierce/devel/lidar_ws/data/output_full.pcd" >


    <param name="cluster_tolerance" value="1.2"/>
    <param name="cluster_min_count" value="5"/>
    <param name="cluster_max_count" value="50"/>


    <param name="x_max" value="50.0"/>
    <param name="x_min" value="0.0"/>
    <param name="y_max" value="25.0"/>
    <param name="y_min" value="-25.0"/>

  	<!-- <param name="z_max" value="-0.5"/> -->
  	<!-- <param name="z_min" value="-1.0"/> -->

    <!-- <param name="z_max" value="0.87"/> -->
    <!-- <param name="z_min" value="-0.87"/> -->
    
    <param name="z_max" value="1.87"/>
    <param name="z_min" value="0.13"/>
  </node>

</launch>



<!-- rosbag record -b 0 -a -x "/usb_cam_node/(.*)|/velodyne(.*)" -O 'ion_gnss_feature' -->


