<launch>

  <node pkg="feature_extraction" type="pcl_tune" name="pcl_tune" output="screen" args="/media/psf/Home/Desktop/output.pcd" >


    <param name="cluster_tolerance" value="0.9"/>
    <param name="cluster_min_count" value="3"/>
    <param name="cluster_max_count" value="25"/>
    <param name="cluster_radius_threshold" value="0.15"/>


    <param name="x_max" value="50.0"/>
    <param name="x_min" value="0.0"/>
    <param name="y_max" value="25.0"/>
    <param name="y_min" value="-25.0"/>

  	<!-- <param name="z_max" value="-0.5"/> -->
  	<!-- <param name="z_min" value="-1.0"/> -->

    <!-- <param name="z_max" value="0.87"/> -->
    <!-- <param name="z_min" value="-0.87"/> -->
    
    <param name="z_max" value="1.0"/>
    <param name="z_min" value="-1.0"/>
  </node>

</launch>



<!-- rosbag record -b 0 -a -x "/usb_cam_node/(.*)|/velodyne(.*)" -O 'ion_gnss_feature' -->


